 <div class="user-details">
  <h1> About Me </h1>
  <img class="profile-pic" src="{{ "/assets/img/profile-square.jpeg" | prepend: site.baseurl }}" />
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-illustrator-plain"></i>
      <p>I have experience designing in Adobe Illustrator as well as some other Adobe Creative Cloud products.</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-java-plain-wordmark"></i>
      <i class="devicon-python-plain-wordmark"></i>
      <i class="devicon-mysql-plain-wordmark"></i>
      <p>I am well-versed in Java and Python, and I have some experience working with MySQL and JavaScript.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-github-plain"></i>
      <p>I have used git for a number of projects. In fact, this website is hosted on Github Pages.</p>
    </div>
</div>
