 <div class="user-details">
  <h1> About Me </h1>
  <img class="profile-pic" src="/assets/img/profile-square.jpeg"/>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-illustrator-plain"></i>
      <p>//TODO: Design description</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-java-plain-wordmark"></i>
      <i class="devicon-python-plain-wordmark"></i>
      <i class="devicon-mysql-plain-wordmark"></i>
      <p>//TODO: Code description</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-github-plain"></i>
      <p>//TODO: Tools description</p>
    </div>
</div>
