<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Fractal Tree" src="{{ "/assets/img/FractalTree.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Fractal Trees </h3>
    <ul>
      <li> JavaScript</li>
    </ul>
    <p>This is a fractal tree generator I made as a project for one of my college courses. It allows you to create unique fractal trees by adjusting a variety of parameters. Feel free to check it out, but be warned: it's not the most efficient program I've ever written.</p>
    <a class="project-link" href="/fractaltrees">Check it out</a>
  </div>
</div>
<!--
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="">Check it out</a>
  </div>
</div>
-->